aiofiles
annotated-types
anyio
azure-core
azure-storage-blob
certifi
cffi
charset-normalizer
click
coverage
cryptography
distro
dnspython
exceptiongroup
execnet
fastapi
filelock
fsspec
greenlet
grpcio
grpcio-tools
h11
httpcore
httpx
idna
iniconfig
isodate
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
opencv-python-headless
packaging
pillow
pluggy
protobuf
psycopg2-binary
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
PyJWT
pymongo
pytest
pytest-asyncio
pytest-cov
pytest-order
pytest-xdist
python-dotenv
python-multipart
requests
scikit-learn
scipy
six
sniffio
SQLAlchemy
starlette
sympy
threadpoolctl
tomli
# torch
# torchaudio
# torchvision
tqdm
typing_extensions
urllib3
uvicorn
