aiofiles
annotated-types
anyio
certifi
cffi
charset-normalizer
click
coverage
cryptography
distro
dnspython
exceptiongroup
execnet
fastapi
greenlet
h11
httpcore
httpx
idna
iniconfig
numpy
opencv-python-headless
packaging
pillow
pluggy
psycopg2-binary
pycparser
pycryptodome
pydantic
pydantic_core
PyJWT
pymongo
pytest
pytest-asyncio
pytest-cov
pytest-order
pytest-xdist
python-dotenv
python-multipart
requests
sniffio
SQLAlchemy
starlette
tomli
tqdm
typing_extensions
urllib3
uvicorn